# melpazoid <https://github.com/riscy/melpazoid> build checks.

name: melpazoid
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with: { python-version: '3.10' }
    - name: Install
      run: |
        sudo apt-get install emacs && emacs --version
        git clone https://github.com/riscy/melpazoid.git ~/melpazoid
    - name: Run
      env:
        LOCAL_REPO: ${{ github.workspace }}
        RECIPE: (magit-git-toolbelt :fetcher github :repo "jonathanchu/magit-git-toolbelt")
        WARN_IS_ERROR: false
        EXIST_OK: true
      run: echo $GITHUB_REF && make -C ~/melpazoid
